:root {
  --tmagenta: #e20074;
}

.current-player {
  width: 100vw;
  height: 10vh;
  text-align: center;
  font-size: xx-large;
  display: table-cell;
  vertical-align: middle;
  border: solid black 2px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 40vw;
  height: 40vh;
  margin: 30vh auto;
}

.flex-container > div {
  border: solid var(--tmagenta) 2px;
  margin: 10px;
  padding: 20px;
  width: calc(100% / 6.33);
  min-height: 35px;
  font-size: 30px;
  text-align: center;
}

.flex-container > div:hover {
  background-color: var(--tmagenta);
  color: white;
}
